
<!-- pink mauve -->
<cu-custom bgColor="bg-gradual-green">
  <view slot="backText">返回</view>
  <view slot="content">首页</view>
</cu-custom>
<view class="margin-xl padding-xl bg-white radius  shadow-warp">
  <view class="flex justify-center">
    <button wx:if="{{!hasUserInfo && canIUse}}" open-type="getUserInfo" bindgetuserinfo="getUserInfo" class='cu-btn round line-green shadow'> 获取头像昵称 </button>
    <block wx:else>
      <view class='text-center'>
        <view class="cu-avatar xl round solids" style="background-image:url({{userInfo.avatarUrl}})"></view>
        <view class="padding">{{userInfo.nickName}}</view>
      </view>
    </block>
  </view>
</view>
<view class="text-center margin-top">
  <text class="color-666 text-xl">{{motto}}</text>
</view>
<view class="padding-xl">
  <button class="cu-btn block line-green lg shadow">
    <text class="cuIcon-cancel"></text> 取消</button>
  <button class="cu-btn block bg-green margin-tb-lg lg shadow">
    <text class="cuIcon-loading2 iconfont-spin"></text> 提交</button>
</view>