
<!--header-->
<cu-custom bgColor="bg-gradual-pink">
  <view slot="content">表单输入</view>
</cu-custom>

<!-- 表单 -->
<view class='padding'>
  <view class='bg-white radius shadow padding '>
    <!-- 顶部车辆信息 -->
    <view class='flex solid-bottom padding-bottom'>
      <view class='car-img bg-mauve'>
        <image></image>
      </view>

      <view  class='msg-container '>
        <view class='flex align-center justify-between margin-bottom-xs' style="font-weight:550">
          <text>辽A12312</text>
          <text>15902222242</text>
        </view>
        <view>哈利波特</view>
        <text class='overflow-ellipsis'>长安福特福克斯2015款 啊是大声的阿萨德啊是</text>
      </view>

    </view>

    <!-- vin码 -->
    <view class='flex align-center padding-top justify-between'>
      <view>VIN码：LHCGR23423423423</view>
      <view class='flex '>
        <button class='cu-btn sm line-mauve'>查询</button>
        <button class='cu-btn sm line-mauve margin-left-sm'>复制</button>
      </view>
    </view>

  </view>
</view>

<!-- 当前里程，送修手机 -->
<view class='padding-lr padding-bottom'>
  <view class='bg-white radius shadow padding-lr'>
    <view class="cu-form-group sm-border">
      <view class="title  color-333"> 当前里程</view>
      <input placeholder="请输入当前里程数..." bindinput="inputCarNum" ></input>
    </view>
    <view class="cu-form-group ">
      <view class="title color-333"> 送修手机</view>
      <input placeholder="请输入送修手机号码..." bindinput="inputCarNum" ></input>
    </view>
  </view>
</view>

<!-- 项目材料，客户关怀 -->
<view class='padding-lr padding-bottom'>
  <view class='bg-white radius shadow '>
    <view class="cu-list menu sm-border">
      <view class="cu-item arrow ">
        <view class="content flex align-center">
          <view class="content flex justify-between">
            <text class='color-333 '>项目/材料</text>
            <text class='color-999'>选择项目和材料</text>
          </view>
        </view>
      </view>
      <view class="cu-item arrow ">
        <view class="content flex align-center">
         <view class="content flex justify-between">
            <text class='color-333 '>客户关怀</text>
            <view class="cu-tag round bg-red">5</view>
          </view>
        </view>
      </view>
    </view>
  </view>
</view>

<!-- 备注 -->
<view class='padding-lr padding-bottom'>
  <view class='bg-white radius shadow padding-lr'>
    <view class="cu-form-group align-start">
      <view class="title color-333">备注</view>
      <textarea 
        bindinput="textareaBInput" 
        placeholder="请输入备注信息...">
      </textarea>
    </view>
  </view>
</view>


<!-- 底部操作条 -->
<view class="cu-bar bg-white tabbar  footer justify-between shadow">
  <view class='flex'>
    <view class='turn-up-icon flex justify-center padding-tb-xs solid-right'>
      <view class="cuIcon-fold flex align-center"></view>
    </view>
    <view class='text-red price'>￥199.00</view>
  </view>
  <view class="bg-mauve submit">提交工单</view>
</view>


