<!--pages/components/province-selector.wxml-->
<view class="keybord" style="display: {{isShowKeyBoard?'flex':'none'}}">
  <view class="row" wx:for="{{provinces}}" wx:key="index">
    <view class="column" wx:for="{{item}}" wx:for-item="column" wx:key="*this">
      <button class="key {{!column?'del':''}}" bindtap="selectedProvince" data-column="{{column}}">{{column}}</button>
    </view>
  </view>
</view>
